*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/screenshot
.externalNativeBuild
.gitignore
blank.html
changelog.html
creole.js
diff.html
markdown.js
octicons.ttf
textile.js
wiki.html
app-release.apk
libs/
